html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    background-color: rgb(236, 166, 233);
    color: rgb(221, 101, 211);
    text-align: center;
    padding: 10px;
}

.menu {
    padding: 10px;
    margin: 10px;
    background-color: rgb(236, 166, 201);
    border-radius: 10px;
    text-align: center;
    flex: 1;
}

.side-by-side {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}