html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

header {
    background-color: rgb(236, 166, 233);
    color: rgb(221, 101, 211);
    text-align: center;
    padding: 20px;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.menu {
    padding: 20px;
    margin: 10px;
    background-color: rgb(236, 166, 201);
    border-radius: 10px;
    text-align: center;
    flex: 1;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.side-by-side {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    flex-wrap: wrap;
    overflow: hidden; /* Evita que el contenido desborde horizontalmente */
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}


.img {
    width: 100%; /* Ajusta el ancho al 100% del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover;
    margin: 10px 0;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    .side-by-side {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        width: 90%; /* Ajusta el ancho del menú en pantallas pequeñas */
        margin: 10px 0;
    }
}
